<a href="https://colab.research.google.com/github/13194307/UTS_ML2019_ID13194307/blob/master/ML_A2_PracticalProject/testingGrounds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
from google.colab import files
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from matplotlib import pyplot

In [0]:
# Imports dataset from github repo

urlDataset = r"https://raw.githubusercontent.com/13194307/UTS_ML2019_ID13194307/master/ML_A2_PracticalProject/modifiedDataset.csv"
urlTest = r"https://raw.githubusercontent.com/13194307/UTS_ML2019_ID13194307/master/ML_A2_PracticalProject/test.csv"
dataset = pd.read_csv(urlDataset)
finalTest = pd.read_csv(urlTest)

In [33]:
x = dataset.drop(["Unnamed: 0", "AnimalID", "Name", "DateTime", "AnimalType", "Breed", "Color", "OutcomeType", "SexuponOutcome", "AgeuponOutcome", "Month", "DayOfWeek", "Year"], axis=1)
x = pd.get_dummies(x)
y = dataset["OutcomeType"]

x.head()

   AgeInDays  IsWeekend  ...  TimeOfDay_Morning  TimeOfDay_Night
0        365      False  ...                  0                0
1        365       True  ...                  0                0
2        730       True  ...                  1                0
3         21      False  ...                  0                0
4        730      False  ...                  0                0

[5 rows x 16 columns]

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [37]:
rfc = RandomForestClassifier(n_estimators=500, max_depth=100)
rfc.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [38]:
pred = rfc.predict(x_test)
accuracy_score(pred, y_test)

0.6371118593340815